main {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

#register-form > label {
  font-size: 1.5rem;
  font-weight: bold;
}

#register-form input {
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.form-control button {
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  padding-top: 219px;
}

#selector-perfil {
  display: inline;
  justify-content: space-around;
}

#selector-intereses {
  display: inline;
  justify-content: space-around;
}

.etiquetas-checkBox {
  display: inline;
}

@media (min-width: 361px) {
  .wrapper {
    padding-top: 3rem;
    width: 80%;
  }
  section {
    padding-top: 215px;
  }
}

@media (min-width: 769px) {
  #register-form input {
    width: 100%;
  }

  /* .form-control button {
    display: inline;
    width: 100%;
    cursor: pointer;
  } */

  .wrapper {
    padding-top: 3rem;
    width: 40%;
  }
}
