* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
}

header {
  display: flex;
  flex-direction: column;
  flex: wrap;
  align-items: center;
  background-color: #eac926;
  padding: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
}

.buscador {
  padding-left: 1rem;
  background-color: white;
  border: none;
  border-radius: 3px;
  width: 90%;
  align-items: center;
  padding: 0.7rem;
}

.buscador button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.buscador input {
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  width: 90%;
}

.nav-busqueda {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-busqueda > * {
  margin-bottom: 1rem;
}

.nav-menu {
  display: none;
}

.nav-opciones {
  width: 25%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-cuenta {
  width: 30%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.burger-menu {
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 3px;
}

main {
  background-color: #eee;
  text-align: center;
  width: 100vw;
}

section {
  padding-top: 219px;
}

.titulares {
  font-size: 24px;
  font-weight: 2000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

article {
  display: block;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 3px;
}

article p i {
  color: #39b54a;
  padding: 4px;
  border-width: 10px;
  border-color: #39b54a;
  border-radius: 90%;
  text-align: center;
  background-color: white;
}

article p {
  background-color: #fff;
}

.titulares {
  font-size: 24px;
}

.precios {
  font-size: 18px;
}

.descripciones {
  display: none;
}

.descuentos {
  font-size: 16px;
  color: #39b54a;
}
.descripciones {
  font-size: 16px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

footer i {
  font-size: 2em;
  margin-bottom: 5px;
  color: #0454aa;
}

@media (min-width: 361px) {
  /* IPAD */
  header {
    background-color: #eac926;
    padding: 1.2rem;
    align-items: center;
    width: 100%;
    min-height: 21vh;
  }

  section {
    width: 100wh;
    padding-top: 215px;
  }

  .container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  article {
    display: inline-block;
    width: 30wh;
    padding: 15px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 3px;
  }

  .burger-menu {
    display: none;
  }

  .buscador {
    width: 50%;
  }

  .nav-busqueda {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-opciones {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .nav-cuenta {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

@media (min-width: 769px) {
  /* DESKTOP */
  header {
    background-color: #eac926;
    padding: 1.2rem;
    align-items: center;
    width: 100%;
    min-height: 20vh;
  }

  header p {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
  }

  .burger-menu {
    display: none;
  }

  .nav-busqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-opciones {
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .nav-cuenta {
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .buscador {
    padding-left: 1rem;
    background-color: white;
    border: none;
    border-radius: 3px;
    width: 40%;
    align-items: center;
    padding: 0.7rem;
  }

  .buscador input {
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    width: 90%;
  }

  section {
    padding-top: 164px;
  }

  .descripciones {
    display: inline;
  }

  .nav-menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 10wh;
    padding: 15px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 3px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 30%;
  }

  footer i {
    font-size: 2em;
    margin-bottom: 5px;
    color: #0454aa;
  }
}
